body {
  margin: 0 auto;
  color: #9ca9b3;
  font-size: 18px;
  background-image: url(../../assets/img/illustration.svg);
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #151719;
}

.main {
  min-height: calc(100vh - 116px);
}

.wrapper {
  padding: 0 250px;
}

.aboutTheProject {
  text-align: center;
  padding-bottom: 40px;
}

.autorizationBtns {
  display: flex;
  justify-content: right;
  gap: 1em;
  padding: 1em 0;
}

h1 {
  color: #b6b6b6;
  font-size: 60px;
}

h2 {
  color: #b6b6b6;
  font-size: 50px;
}

.titleProject {
  color: #5658dd;
}

.title {
  font-size: 40px;
  margin: 0 auto;
}

.videoPlaceholder {
  text-align: center;
}

.hasShadow {
  box-shadow: 0 24px 64px rgb(21 23 25 / 64%);
  height: 100%;
  width: 100%;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  padding: 3em 0;
}

.aboutTheComand {
  text-align: center;
  padding-top: 50px;
}

.nav {
  text-decoration: none;
}

@media screen and (min-width: 180px) and (max-width: 1000px) {
  .wrapper {
    padding: 0 20px;
  }
}

@media screen and (min-width: 180px) and (max-width: 600px) {
  h1,
  h2 {
    font-size: 40px;
  }

  .title {
    font-size: 20px;
  }
}
