body {
  color: #9ca9b3;
  font-size: 18px;
}

.main {
  min-height: calc(100vh - 116px);
}

.wrapper {
  padding: 0 250px;
}

.aboutTheProject {
  text-align: center;
  padding-bottom: 20px;
}

.autorizationBtns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  padding: 1em 0;
}

.button-wrapper {
  display: flex;
  gap: 12px;
}

h1 {
  color: #b6b6b6;
  font-size: 60px;
  padding: 30px 0;
}

h2 {
  color: #b6b6b6;
  font-size: 50px;
  padding: 30px 0;
}

.titleProject {
  color: #5658dd;
}

.title {
  font-size: 40px;
  margin: 0 auto;
}
.title-center {
  display: flex;
  align-items: center;
}
.titleContainer,
.titleContainer2,
.titleContainer3,
.titleContainer4 {
  display: flex;
  padding: 40px 0;
  gap: 40px;
}

.videoPlaceholder {
  text-align: center;
}

.hasShadow {
  box-shadow: 0 24px 64px rgb(21 23 25 / 64%);
  height: 100%;
  width: 100%;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  padding: 0 0 3em 0;
}

.aboutTheComand {
  text-align: center;
}

.nav {
  text-decoration: none;
}

@media screen and (min-width: 180px) and (max-width: 1300px) {
  .titleContainer,
  .titleContainer2,
  .titleContainer3,
  .titleContainer4 {
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }
}

@media screen and (min-width: 180px) and (max-width: 1200px) {
  .videoBox {
    top: 25%;
    left: 25%;
  }
}

@media screen and (min-width: 180px) and (max-width: 1000px) {
  .wrapper {
    padding: 0 20px;
  }

  .videoBox {
    top: 20%;
    left: 20%;
  }
}

@media screen and (min-width: 180px) and (max-width: 800px) {
  .videoBox {
    top: 13%;
    left: 13%;
  }
}

@media screen and (min-width: 180px) and (max-width: 600px) {
  h1,
  h2 {
    font-size: 40px;
  }

  .title {
    font-size: 20px;
  }

  iframe {
    width: 300px;
    height: 250px;
  }

  .imgBoard {
    width: 100%;
  }
}

@media screen and (min-width: 180px) and (max-width: 400px) {
  .autorizationBtns {
    flex-wrap: wrap;
  }

  iframe {
    width: 250px;
    height: 150px;
  }
}
