html,
body {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

.app {
  background-image: url('../public/assets/img/illustration.svg');
  background-position: top center;
  background-repeat: no-repeat;
}
